@model MvcPlanes.Models.PlaneModelViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Planes" asp-action="Index" method="get">
    <p>
        <label asp-for="PlaneModel" class="control-label"></label>
        <select asp-for="PlaneModel" asp-items="Model.Model">
            <option value="">All</option>
        </select>

        <label asp-for="SearchString" class="control-label"></label>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Planes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planes[0].Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planes[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planes[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planes[0].Speed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Planes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>